container {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

/* Heading Styles */
.container h1 {
  font-size: 24px;
}


.container form {
  margin-top: 20px;
  text-align: left;
}

.container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input{
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4CAF50;
  width: 100%;
  color: #fff;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 30px;
}


.container a {
  text-decoration: none;
  color: #007BFF;
}

.container p {
  margin-top: 20px;
}
.box{
  text-align: center;
  }
  .header {
color: #fff;
  }
  .content {
    color: #fff;
      }
 